body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    height: 80px;
    padding: 30px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

#settings i {
    padding-right: 13px;
    size: 2rem;
    display: inline-block;
}

#settings button {
    width: 160px;
    height: 30px;
    background-color: white;
    border: solid 1px gray;
    border-radius: 20px;
    font-size: 10pt;
    font-weight: 200;
}

#settings img {
    width: 40px;
    height: 40px;


}


header img {
width: 185px;
height: 29px;

}


#superContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

main {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    border-right-color: gray;
    border-right-style: solid;
    border-right-width: 1px;
}
 
#art {
    display: flex;
    flex-direction: column;

}
.article{ 
height: 200px;
display: flex;
flex-direction: row;
align-content: flex-start;
margin-left: 20px;
padding: 0 0 30px 0;

}
.article title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 20px;
   
 
}
.article img {
    width: 250px;
    height: 150px;
    margin: 20px 10px 0 0;
    
}

.title h1 {
  font-size: 14pt;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.title p {
    font-size: 10pt;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: rgb(99, 97, 97);
}

.title span {
    font-size: 10pt;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    
}

.topbar {
display: flex;
flex-direction: row;
align-content: flex-start;
margin-bottom: 20px;
   
}

.topbar span {
    padding: 8px;
    font-style: bold;
    font-size: 12pt;
}

aside {
    font-size: 12pt;
    width: 33%;
    margin-left: 20px;    
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
}

.connect {
    width: 100%;
    height: 250px;
    padding: 10px 0 40px 10px;
    font-size: 11pt;
    font-weight: 300;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect img {
    width: 102px;
    height: 32px;
}

.connect button {
    background-color: white;
    color:gray;
    border:solid 1px gray;
    width: 180px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 11pt ;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
}

.connect span {
    font-size: 10pt;
    color: darkgrey;
    text-decoration: underline;
}

.topics {
    width: 100%;
    height: 350px;
    margin-top: 100px;
    display: flex;
    text-align: left;
    font-weight: 600;
    flex-direction: column;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.keywords { 
    font-weight: 300;
    margin: 10px 0 10px 0;
    list-style: none;
    font-size: 9pt;
    display: flex;
    flex-wrap: wrap;
   align-content: space-around;   
   text-align: center;
   line-height: 25px;
}

.keywords li {
    background-color: ghostwhite;
    color:gray;
    width: 80px;
    height: 35px;
    margin: 5px  5px 5px;
    padding: 5px 10px 5px 10px;
    font-size: 10pt;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    border: solid 1px rgb(97, 94, 94);  
}


.accs {
    list-style: none;
    font-style: 7pt;
    font-weight: 600;
} 

.accs li {
    margin-bottom:25px;
    display: flex;
    justify-content: flex-start;
    font-size: 9pt;
}

.accs a {
    margin-right: 15px;
    margin-top:10px;
    color:black;
}

.accs button {
    width: 60px;
    height:30px;
margin-top:7px;
    border-radius: 25px;
    background-color: white;
    border:solid 1px gray;
    font-size: 10pt;

}

.accs img {
    width: 40px;
    height: 40px;
    padding-right: 10px;

}

.accs li span {
    display: flex;
    align-content: center;
    font-size: 8pt;
    font-weight: lighter;
    color:gray;
}